/* Add CSS Styling */

.odd-number {
  background-color: lightpink;
  font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#number-two {
  color: blue;
  font-size: 36px;
}

.adjust-font-size {
  font-size: 24px;
}

#number-four {
  background-color: lightgreen;
  font-weight: bold;
}