

body, h1 {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;

}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
  
}

h1.title {
  background: #e3f4ff;
  padding: 15px;
  margin-bottom: 10px;
}

div.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
  
}

button {
  display: inline-block;
  margin: 0;
  padding-inline: 18px;
  padding-block: 10px;
  border: none;
  background-color: white;
};